#intro-container{
    height:100%;
    width:100%;
}

#intro-action-sections{
    height:10;
    width:100%;
    dock:bottom;
}



#left-intro-section{
    align: center middle;
    width: 50%;
    border: solid #555555;


}

#right-intro-section{
    align: center middle;
    width: 50%;
    border: solid #555555;


}


#password_btn, #ssh_btn {
    width: 100%;
    dock: bottom;

}